/* general */

:root {
    --main-text-color: #757575;
    --main-h-color: #212121;
    --main-acent-color: #2196F3;
    --contrast-text-h-color: #ffffff;
    --main-logo-color: #000000;
    --accent-bgd-color: #2F303A;
    --main-bgd-color:#F5F4FA;
    }

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color:var(--main-text-color);
}
/* common */
.list {
    list-style: none;
}
.link {
    text-decoration: none;
    font-style:normal ;
}   
.link:hover, .link:focus {
    color: var(--main-acent-color);
} 
.btn {
    font-family: inherit;
    border: none;
    cursor: pointer;
}
.btn:hover, .btn:focus {
    background-color: var(--main-acent-color);
    color: var(--contrast-text-h-color);
}
.title {
    color: var(--main-h-color);
}

/* header */

.nav-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.logo {
    color: var(--main-logo-color);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
       }

.logo-web {
    color: var(--main-acent-color);
}

.nav-link{
    color: var(--main-h-color) ;
}
.current {
    color: var(--main-acent-color);
}

.contacts-link {
        color: var(--main-text-color);
}   

.contacts-list {
    list-style: none;
}
.contacts-item {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

/* main */
/* section hero */

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--contrast-text-h-color)

}
.hero-sec {
    background-color:var(--accent-bgd-color) ;
}

.hero-btn {
font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em; 
}

/* section benefits */
.benefits-sec {
    letter-spacing: 0.03em;
    font-size: 14px;
}
.benefits-list-title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.benefits-list-item {
    line-height: 1.71;
}

/* section projects */

.projects-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* section team */

.team-sec {
    background-color: var(--main-bgd-color);
    letter-spacing: 0.03em;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-item {
    background-color: var(--contrast-text-h-color) ;
}

/* footer */

.address-link {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color:var(--contrast-text-h-color) ;
}

.address-contacts {
    color: rgba(255, 255, 255, 0.6);
}

.footer {
    background-color:var(--accent-bgd-color) ;
}
.logo-footer {
    color: var(--contrast-text-h-color);
}

/* portfolio page */
.filter-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        background-color: var(--main-bgd-color);
}

.projects-list-title {
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}

.projects-list-descr {
        font-size: 16px;
        line-height: 1.88;   
        letter-spacing: 0.03em;}
